*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  padding: 50px 30px;
  background-color: #0d1a2d;
  font-family: "Outfit", sans-serif;
}

.card {
  max-width: 330px;
  display: inline-flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  color: #6c819d;
  font-size: 1.2rem;
  font-weight: 400;
  background: linear-gradient(120deg, #13253d, #15253c);
  text-decoration: none;
}

.img-wrapper {
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  line-height: 0;
}

.img-wrapper::before {
  content: "";
  width: 0;
  height: 0;
  border-radius: 10px;
  background: hsla(178, 100%, 50%, .3) url("../images/icon-view.svg") no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
}

.img-wrapper:hover::before {
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  border-radius: 10px;
}

.title {
  color: #f7f9f9;
  margin: 0 0 20px;
}

.title:hover {
  color: #1df0f1;
}

.text {
  line-height: 1.5;
  margin-bottom: 20px;
}

.info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-wrapper div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-wrapper b {
  color: #1df0f1;
}

.author {
  padding-top: 15px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.author::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #273951;
  position: absolute;
  top: 0;
  left: 0;
}

.author img {
  height: 27px;
  width: 27px;
  border: 1px solid #f7f9f9;
  border-radius: 50%;
}

.author span {
  color: #f7f9f9;
}

.author span:hover {
  color: #1df0f1;
}

.attribution {
  text-align: center;
  color: #fff;
  padding: 20px 0;
}

.attribution a {
  font-weight: 600;
  color: #fff;
}

@media screen and (min-width: 400px) {
  body {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    max-width: 285px;
  }
}