*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  padding-top: 20px;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.item {
  padding: 20px;
}

.item:first-of-type {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.item:nth-of-type(2) {
  background-color: hsl(184, 100%, 22%);
}

.item:last-of-type {
  background-color: hsl(179, 100%, 13%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.item img {
  margin-bottom: 30px;
  filter: brightness(0) invert(1);
  opacity: .5;
}

.title {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  margin: 0 0 40px;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  font-size: 1.6rem;
  line-height: 1.5;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 25px;
}

.btn {
  display: inline-flex;
  font-size: 1.6rem;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 50px;
  text-decoration: none;
  margin-bottom: 20px;
  border: 2px solid transparent;
}

.item:first-of-type .btn {
  color: hsl(31, 77%, 52%);
}

.item:nth-of-type(2) .btn {
  color: hsl(184, 100%, 22%);
}

.item:last-of-type .btn {
  color: hsl(179, 100%, 13%);
}

.item .btn:hover,
.item .btn:focus {
  color: hsl(0, 0%, 95%);
  background-color: transparent;
  border-color: hsl(0, 0%, 95%);
}

.attribution {
  padding: 80px 0;
}

.attribution a {
  color: #000;
}

@media screen and (min-width: 800px) {
  body {
    height: 100%;
    padding-top: 0;
  }
  
  .container {
    max-width: 840px;
    flex-direction: row;
  }

  .item {
    padding: 30px;
  }

  .item:first-of-type {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
  }

  .item:last-of-type {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0;
  }

  .text {
    margin-bottom: 75px;
  }
}